[Desktop Entry]
Version=1.0
Type=Application
Name=Wine Configuration
Comment=Configuration utility for Wine
Icon=wine
Exec=/usr/local/bin/wine winecfg
Categories=Game;
Terminal=false
